@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu:400,700&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

*:focus {
    outline: none;
}

button:focus {outline:0;}

.hero_title {
	@apply flex font-display text-4xl font-bold text-left pl-0 pb-1 mb-4 border-b border-gray-200;
}

.hero_title-md {
	@apply inline-block pl-1 mb-3;
}

.title_logo {
	@apply inline-block float-left mr-4;
	width: 68px;
	margin-top: -7px;
	padding: 5px;
	border: 5px solid white;
	border-radius: 10px;
	background-color: #fff;
	transform: rotate(-1deg);
	box-shadow: 0 2px 0px rgba(0, 0, 0, 0.05);
}

.hero_logo-md {
	flex: 0 0 200px;
	padding: 38px;
	margin: 20px 40px 0 20px;
	border: 5px solid white;
	border-radius: 10px;
	background-color: #fff;
	transform: rotate(-1deg);
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.05);
}

.hero_text {
	@apply font-display pl-1 mb-3 text-left overflow-scroll;
	max-height: 185px;
}

.hero_text-md {
	@apply font-display pl-1 mb-3 text-left leading-relaxed
}

.section_title {
	@apply font-display text-3xl flex items-center font-bold text-left pb-2 mb-3 border-b border-gray-200;
}

.section_title-md {
	@apply mb-6;
}

.section_custom {
	@apply flex flex-col;
}

.section_custom-md {
	@apply flex-row;
}

.section_text {
	@apply text-lg text-left;
}

.section_text-md {
	@apply border-gray-200 border-l pl-6;
}

.section_video {
	@apply w-full mr-4 pr-5;
}

.section_custom.reverse {
	@apply flex-col-reverse;
}

.wrapper-md.reverse {
	@apply flex-row-reverse;
}

.wrapper-md.reverse .section_text {
	@apply border-r pr-6 border-l-0 pl-0;
}

.wrapper-md.reverse .section_image {
	@apply mr-0 ml-6;
}

.wrapper.reverse .section_video {
	@apply ml-4 pl-5;
}

.user_name {
	@apply text-2xl font-bold text-left w-full inline-block pb-4 border-b mt-4 mb-2;
}

.user_name-md {
	@apply px-2;
}

.user_avatar:hover {
	cursor: pointer;
}
/* purgecss start ignore */
.section_slider {
	@apply w-full relative px-2;
}

.section_slider-md {
	@apply w-full relative px-10;
}

.slide {
	@apply bg-gray-100 overflow-hidden border border-gray-200 rounded-lg relative flex flex-col;
	height: 400px;
}

.slide_title {
	@apply bg-cover w-full text-left leading-tight relative py-4 border-b border-gray-200;
}

.slide_title h1 {
	@apply relative mx-4 z-20 font-bold text-lg text-left;
}

.slide_title.bg-image {
	@apply p-10;
}

.slide_title.bg_image:before {
	@apply absolute top-0 text-white h-full w-full z-10 left-0;
	content: "";
	background: rgba(0, 0, 0, 0.8);
}

.slide_title.bg_image h1 {
	@apply text-white;
}

.slide_excerpt {
	@apply w-full flex-grow overflow-scroll;
}

.slide_excerpt p {
	@apply text-left p-4;
}

.slide_footer {
	@apply bg-white p-4 py-3 font-bold border-t text-left;
}
/* purgecss end ignore */

.slider_arrow {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	z-index: 10;
	border-radius: 100%;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 30' %3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.1 4.6A1.5 1.5 0 0 0 15 2.4l-8.5 8.1a2 2 0 0 0 0 3l8.5 8.1a1.5 1.5 0 1 0 2.1-2.2L9.4 12l7.7-7.4z' fill='%23FFF'/%3E%3C/svg%3E")
		#000 no-repeat;
	background-size: 40%;
}

.toggle {
	flex-basis: 50%;
	height: 50px;
	width: 40px;
	height: 40px;
	background-size: 40% !important;
}

.toggle:hover {
	cursor: pointer;
}
.toggle.calendar {
	background: url("data:image/svg+xml,%3Csvg width='48' height='44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-rule='nonzero'%3E%3Cpath d='M40 0H8C4 0 0 4 0 8v28c0 4 4 8 8 8h32c4 0 8-4 8-8V8c0-4-4-8-8-8zm0 40H8c-2 0-4-2-4-4V16h40v20c0 2-2 4-4 4z'/%3E%3Ccircle cx='12' cy='24' r='2'/%3E%3Ccircle cx='12' cy='32' r='2'/%3E%3Ccircle cx='20' cy='24' r='2'/%3E%3Ccircle cx='20' cy='32' r='2'/%3E%3Ccircle cx='28' cy='24' r='2'/%3E%3Ccircle cx='28' cy='32' r='2'/%3E%3Ccircle cx='36' cy='24' r='2'/%3E%3Ccircle cx='36' cy='32' r='2'/%3E%3C/g%3E%3C/svg%3E%0A")
		no-repeat center center #efefef;
}

.toggle.list {
	background: url("data:image/svg+xml,%3Csvg width='88' height='76' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M9 75a8 8 0 110-16 8 8 0 010 16zm0-29a8 8 0 110-16 8 8 0 010 16zm0-29A8 8 0 119 1a8 8 0 010 16zm70 58H34a8 8 0 110-16h45a8 8 0 110 16zm0-29H34a8 8 0 110-16h45a8 8 0 110 16zm0-29H34a8 8 0 110-16h45a8 8 0 110 16z' fill-rule='nonzero'/%3E%3C/svg%3E%0A")
		no-repeat center 53% #efefef;
	background-size: 36% !important;
	border-right: 1px solid white;
}

.toggle.cards {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 96 120'%3E%3Cpath fill='rgba(0,0,0,0.6)' d='M43.6 82L31.9 22.8c-.4-1.7 0-3.4 1-4.8.9-1.4 2.3-2.3 4-2.7l3-.5-26.3-2.2A5 5 0 008 17L3 77.4a5 5 0 004.5 5.5L46.3 86a6.3 6.3 0 01-2.7-4z'/%3E%3Cpath fill='rgba(0,0,0,1)' d='M81.2 13a3.8 3.8 0 00-4.4-3L49 15.4l-11.7 2.3a3.8 3.8 0 00-3 4.5l11.8 59.4a3.8 3.8 0 004.4 3l1.6-.3L90 76.8c1-.2 1.9-.8 2.4-1.6s.8-1.9.6-2.9L81.2 13z'/%3E%3C/svg%3E%0A")
		no-repeat center 75% #efefef;
	background-size: 45% !important;
}

.toggle.previous {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 128 160'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16' d='M85 22L43 64l42 42'/%3E%3C/svg%3E") no-repeat center 65% #efefef;
	border-right: 1px solid white;
}

.toggle.previous:active {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 128 160'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='16' d='M85 22L43 64l42 42'/%3E%3C/svg%3E") no-repeat center 65% #000;
}
.toggle.next:active {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 128 160'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='16' d='M43 22l42 42-42 42'/%3E%3C/svg%3E") no-repeat center 65% #000;
}

.toggle.next {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 128 160'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16' d='M43 22l42 42-42 42'/%3E%3C/svg%3E") no-repeat center 65% #efefef;
}

.toggle.cards.active {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 96 120'%3E%3Cpath fill='rgba(255,255,255,0.8)' d='M43.6 82L31.9 22.8c-.4-1.7 0-3.4 1-4.8.9-1.4 2.3-2.3 4-2.7l3-.5-26.3-2.2A5 5 0 008 17L3 77.4a5 5 0 004.5 5.5L46.3 86a6.3 6.3 0 01-2.7-4z'/%3E%3Cpath fill='rgba(255,255,255,1)' d='M81.2 13a3.8 3.8 0 00-4.4-3L49 15.4l-11.7 2.3a3.8 3.8 0 00-3 4.5l11.8 59.4a3.8 3.8 0 004.4 3l1.6-.3L90 76.8c1-.2 1.9-.8 2.4-1.6s.8-1.9.6-2.9L81.2 13z'/%3E%3C/svg%3E%0A")
		no-repeat center 75% #000;
	background-size: 45% !important;
}

.toggle.grid {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 100 125'%3E%3Cpath fill='black' d='M35 0a32 32 0 015 2c3 2 4 6 4 10v21c0 5-2 8-6 10a13 13 0 01-5 1H12c-6 0-10-3-12-9V9c1-3 2-5 5-7a41 41 0 015-2h25zM0 65a34 34 0 012-5 10 10 0 019-4h23a11 11 0 0111 11v22c-1 6-5 11-11 11H11c-5 0-9-3-11-9V65zM90 0a14 14 0 016 3 10 10 0 014 7v23a11 11 0 01-12 11H67c-6 0-11-4-11-10a478 478 0 010-23c0-6 3-10 9-11h25zm10 78v12a11 11 0 01-10 10H66a10 10 0 01-10-10V66a10 10 0 0110-10h24a11 11 0 0110 10v12z'/%3E%3C/svg%3E%0A")
		no-repeat center 65% #efefef;
	background-size: 34% !important;
	border-right: 1px solid white;
}

.toggle.grid.active {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 100 125'%3E%3Cpath fill='white' d='M35 0a32 32 0 015 2c3 2 4 6 4 10v21c0 5-2 8-6 10a13 13 0 01-5 1H12c-6 0-10-3-12-9V9c1-3 2-5 5-7a41 41 0 015-2h25zM0 65a34 34 0 012-5 10 10 0 019-4h23a11 11 0 0111 11v22c-1 6-5 11-11 11H11c-5 0-9-3-11-9V65zM90 0a14 14 0 016 3 10 10 0 014 7v23a11 11 0 01-12 11H67c-6 0-11-4-11-10a478 478 0 010-23c0-6 3-10 9-11h25zm10 78v12a11 11 0 01-10 10H66a10 10 0 01-10-10V66a10 10 0 0110-10h24a11 11 0 0110 10v12z'/%3E%3C/svg%3E%0A")
		no-repeat center 65% #000;
	background-size: 34% !important;
}

.toggle.calendar.active {
	background: url("data:image/svg+xml,%3Csvg width='48' height='44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-rule='nonzero'%3E%3Cpath d='M40 0H8C4 0 0 4 0 8v28c0 4 4 8 8 8h32c4 0 8-4 8-8V8c0-4-4-8-8-8zm0 40H8c-2 0-4-2-4-4V16h40v20c0 2-2 4-4 4z'/%3E%3Ccircle cx='12' cy='24' r='2'/%3E%3Ccircle cx='12' cy='32' r='2'/%3E%3Ccircle cx='20' cy='24' r='2'/%3E%3Ccircle cx='20' cy='32' r='2'/%3E%3Ccircle cx='28' cy='24' r='2'/%3E%3Ccircle cx='28' cy='32' r='2'/%3E%3Ccircle cx='36' cy='24' r='2'/%3E%3Ccircle cx='36' cy='32' r='2'/%3E%3C/g%3E%3C/svg%3E%0A")
		no-repeat center center #000;
}

.toggle.list.active {
	background: url("data:image/svg+xml,%3Csvg width='88' height='76' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M9 75a8 8 0 110-16 8 8 0 010 16zm0-29a8 8 0 110-16 8 8 0 010 16zm0-29A8 8 0 119 1a8 8 0 010 16zm70 58H34a8 8 0 110-16h45a8 8 0 110 16zm0-29H34a8 8 0 110-16h45a8 8 0 110 16zm0-29H34a8 8 0 110-16h45a8 8 0 110 16z' fill-rule='nonzero'/%3E%3C/svg%3E%0A")
		no-repeat center 53% #000;
	background-size: 36% !important;
}

.wrapper .list {
	@apply mr-10 mt-4;
	max-height: 500px;
	width: 100%;
	border: 1px solid #efefef;
	border-radius: 10px;
	overflow: scroll;
}

.list_item {
	@apply border-gray-200 border-b py-4 px-5;
}
.list_item:hover {
	@apply bg-gray-100;
	cursor: pointer;
}
.list_item.active {
	@apply bg-black text-white;
}
.slider_arrow.left {
	left: -5%;
	background-position: 45% 60%;
}

.slider_arrow.right {
	top: 50%;
	left: auto;
	right: -5%;
	transform: scale(-1);
	background-position: 45% 60%;
}

.slider_arrow:hover {
	cursor: pointer;
}

.slider_arrow.left:active {
	transform: scalex(1.05);
}

.slider_arrow.right:active {
	transform: scalex(-1.05);
}

.section_terms {
	@apply w-full bg-black p-6 text-left flex;
}

.selected_event {
	@apply pt-4;
	display: inline-block;
}

@responsive {
	.section {
		@apply w-full block bg-white relative px-8 py-6 pb-0;
	}

	.section-md {
		@apply w-auto px-8 pt-8 pb-4;
		margin: 0 auto;
		width: 960px;
	}

	.content_wrapper {
		@apply flex flex-col w-full px-0 relative;
		z-index: 10;
	}

	.content_wrapper-md {
		@apply flex flex-row items-start px-0;
		width: 960px;
	}

	.hero {
		@apply w-full flex flex-col justify-center p-8 pb-6 relative items-center overflow-hidden;
	}

	.hero .content_wrapper {
		@apply inline-block;
	}
	.hero .content_wrapper-md {
		@apply flex;
	}

	.hero_image {
		@apply w-full mr-0 mb-5;
	}

	.action_container {
		@apply mt-6;
	}

	a.action {
		@apply p-3 mr-2 rounded-lg;
	}

	.hero_image-md {
		@apply mr-6 mb-0;
		flex-shrink: 0;
	}

	.hero .hero_.video {
		position: absolute;
		width: 100%;
		height: 500px;
		z-index: 1;
	}

	.hero .video video {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		margin: 0;
		top: 0;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	.hero-md {
		@apply px-20 py-10 flex-col;
	}

	.hero_stats {
		@apply flex flex-col items-start w-full mt-2 w-full;
	}

	.hero_stats-md {
		@apply flex-row;
	}

	.hero_stats p {
		@apply mr-3 rounded-lg border border-gray-200 inline-flex bg-white items-center overflow-hidden;
		height: 40px;
	}

	.hero_stats p span {
		@apply px-3;
		font-size: 14px;
	}

	.hero_stats p span.key {
		@apply bg-gray-100 h-full flex items-center font-bold px-3
	}

	.section#users {
		@apply px-0;
	}

	.section#topics {
		@apply px-0;
	}

	.section#topics .section_title {
		@apply mx-6;
	}

	.section#users .section_title {
		@apply mx-6;
	}

	.section-md#users.section_title {
		@apply mx-0;
	}

	.user_bio {
		@apply text-left p-2 pb-4 px-0 overflow-scroll;
		max-height: 240px;
	}

	.user_bio-md {
		@apply px-2;
		max-height: 100%;
	}

	.user_grid {
		@apply w-full whitespace-no-wrap h-20 mb-3 bg-white float-left;
		width: 100%;
		overflow-y: hidden;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}

	.user_grid-md {
		@apply flex flex-wrap w-full mb-4 pl-6 mt-3 overflow-hidden float-left rounded-lg h-auto whitespace-normal;
	}

	.user_grid .user_avatar {
		@apply w-16 h-16 bg-cover inline-block;
		border: 5px solid white;
	}

	.user_avatar:hover {
		cursor: pointer;
	}

	.user_avatar.active {
		border: 5px solid black;
	}

	.user_avatar-md {
		@apply flex w-1/5 h-auto justify-center items-center bg-black;
	}
	.user_avatar-md.active img {
		@apply w-11/12;
		border-radius: 3px;
		border: none;
	}

	.user_list {
		@apply w-full ml-6 mt-4 rounded-lg border border-gray-200 overflow-scroll;
		max-height: 400px;
	}

	.user_list li {
		@apply flex items-center h-12 font-bold border-b border-gray-200 px-4 py-8;
	}

	.user_list li:hover {
		cursor: pointer;
	}

	.user_list li.active {
		@apply bg-gray-200;
	}

	.user_list .user_avatar {
		@apply w-10 h-10 bg-cover inline-block mr-3 rounded-lg;
	}

	.card_row {
		@apply flex pt-4 pb-6;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		display: flex;
	}
	.card_row .card {
		@apply inline-block flex-shrink-0 relative pt-4;
		width: 300px;
		transition: all 0.4s ease;
		height: 380px;

		scroll-snap-align: start;
	}
	.card_row .card .card_container {
		@apply rounded-lg overflow-hidden bg-white relative flex flex-col justify-start items-center;
		width: 90%;
		margin: 0 auto;
		height: 100%;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	}

	.card_row .card.topic .topic_title {
		@apply mb-6;
	}

	.card_row .card.topic .topic_title h2 {
		@apply text-2xl font-bold bg-white px-2 py-2 inline;
		width: 90%;
		box-decoration-break: clone;
		-webkit-box-decoration-break: clone;
	}

	.card_row .card.topic .topic_data {
		@apply px-4;
		position: absolute;
		left: 3%;
		display: flex;
		align-items: start;
		justify-content: center;
		flex-direction: column;
		width: 93%;
		height: 93% !important;
		-webkit-perspective: inherit;
		perspective: inherit;
		z-index: 2;
		transform: translateY(-50%) translateZ(60px);
		-webkit-transform: translateY(-50%) translateZ(60px);
		-ms-transform: translateY(-50%) translateZ(60px);
		top: 50%;
	}

	.card_row .card.topic .topic_data .profile_badge {
		@apply mt-0;
	}

	.card_row .card:hover {
		cursor: pointer;
	}
	.card_title {
		@apply w-full relative bg-gray-200 py-3 mt-6 px-2 flex items-center;
		height: 160px;
		background: rgba(0, 0, 0, 0.02);
		z-index: 10;
	}
	.card_stack .card_title {
		background: rgba(0, 0, 0, 0.08);
		border-radius: 15px 15px 0 0;
	}
	.card_name {
		@apply w-full flex flex-col px-6 pt-6 text-left;
	}
	.card_name h3 {
		@apply w-full text-xl font-bold border-b w-full pb-1;
	}
	.card_name p {
		@apply mt-2 text-xs text-left;
	}
	.card .avatar {
		@apply flex-shrink-0 bg-cover rounded-lg mt-3 mx-auto;
		width: 82%;
		background-position: center center !important;
		height: 145px;
		box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.1);
	}
	.card_excerpt {
		@apply flex-grow relative overflow-scroll w-full px-0 mx-auto mt-2 pb-4 text-xs text-left;
		height: 80%;
		width: 80%;
		text-align: left;
		z-index: 10;
	}
	.card_stack .card_excerpt {
		@apply mb-4;
	}
	.card_footer {
		@apply py-3 px-4 w-full text-white font-bold text-xs relative;
		z-index: 10;
		box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.1);
		background: linear-gradient(
			0deg,
			rgba(245, 82, 0, 1) 0%,
			rgba(255, 154, 0, 1) 100%
		);
	}
	.card_stack .card_footer {
		@apply w-full py-4;
		background: rgba(255, 255, 255, 0.2);
	}

	.wrapper {
		@apply flex flex-col;
	}

	.wrapper-md {
		@apply flex-row justify-between w-full;
	}

	.section_image {
		@apply border border-gray-200 mt-4;
		flex-shrink: 0;
	}

	.section_image-md {
		@apply mr-6;
	}

	.calendar_container-md {
		@apply mt-4 pt-4;
		flex: 40% 0 0;
		height: auto;
		max-height: 340px !important;
	}
	.selected_event-md {
		flex: 55% 0 0;
	}
	.calendar_nav-md {
		@apply items-center justify-center;
	}
	.toggle_menu {
		@apply bg-gray-200 flex items-center ml-4;
		border-radius: 6px;
		overflow: hidden;
		height: 40px;
		width: 100px;
	}

	.slider_container  {
		@apply flex flex-col;
		justify-content: flex-end;
		align-items: flex-end;
	}

	.slider_container .toggle_menu {
		@apply mr-6 mt-4;
	}

	.toggle_menu-md {
		width: 150px !important;
	}

	.event_info {
		@apply px-3 flex flex-col items-start bg-gray-100 mb-2 border-b border-gray-200;
		height: 72px;
	}


	.event_info-md {
		@apply flex-row justify-between items-center;
		height: 40px;
	}

	.slide {
		@apply flex relative flex-row;
		  height: 20em;
		  flex: 0 0 100%;
		  transition: transform .75s ease-in-out;
	}

	.slide .excerpt {
		@apply w-1/2 p-6 hidden;
	}

	.slide .item_post {
		@apply flex flex-col justify-center items-start px-2 w-full;
		  background-size: cover;
		  background-repeat: no-repeat !important;
		  background-position: center center !important;
	}

	.slide .item_post-md {
		@apply w-1/2;
	}


	.slide .item_title {
		@apply  pr-4;
		height: 50%;
	}



	.slide .excerpt-md {
		@apply inline-block;
	}

	.slide .image {
		@apply w-full h-full p-3 absolute flex flex-col justify-end items-start bg-cover;
		background-position: center center !important;
	}

	.item_post {
		width: 50%;
	}


}

.event_title h3 {
	@apply border-b border-gray-200 pb-3 px-2 text-2xl font-bold leading-tight;
}

.event_title:hover {
	cursor: pointer;
}

.event_excerpt {
	@apply flex flex-col;
}

.event_excerpt img {
	@apply mb-4;
	max-width: 100%;
}

.event_info .timezone {
	@apply font-bold text-lg py-2 pl-1;
}

.event_info span {
	@apply mr-2;
}

.event_footer {
	@apply mt-4 pt-2 border-gray-200 border-t font-bold;
}
/* purgecss start ignore */
.marked {
	border-radius: 5px !important;
	background: black !important;
	color: white !important;
}

.vfc-span-day:hover {
	background: white !important;
}

.vfc-marked {
	color: black !important;
	background: white !important;
}

.vfc-marked.marked {
	color: white !important;
	background: black !important;
}

.marked:hover {
	background: rgba(0, 0, 0, 0.8) !important;
	cursor: pointer;
}

.vfc-main-container {
	max-height: auto;
	overflow: hidden;
	transition: all 1s ease;
}

.calendar_container {
	@apply relative;
	max-height: 340px;
	overflow: hidden;
	transition: max-height 0.4s ease;
	border-radius: 10px;
	border: 1px solid #efefef;
}

.calendar_container.active {
	max-height: 50px !important;
	transition: max-height 0.4s ease;
	border: 1px solid rgba(0,0,0,0);
}

.vfc-main-container {
	box-shadow: none !important;
}
.vfc-top-date {
	@apply hidden;
}
.vfc-styles-conditional-class .vfc-main-container .vfc-navigation-buttons {
	@apply hidden;
}
.vfc-content {
	padding-top: 60px !important;
}
/* purgecss end ignore */

.calendar_nav {
	@apply flex absolute w-full items-center justify-center px-4 bg-black;
	top: 0px;
	border-radius: 10px 10px 0 0;
	z-index: 999999;
	height: 50px;
	left: 0px;
}

.triangle {
	@apply inline-block mr-2 w-0 h-0;
	border-style: solid;
	border-width: 6px 0 6px 7px;
	transform: rotate(90deg);
	transition: transform 0.4s ease;
	border-color: transparent transparent transparent #fff;
}

.active .triangle {
	transform: rotate(0deg);
	border-color: transparent transparent transparent #fff;
}

.arrow {
	background: url("data:image/svg+xml,%3Csvg width='26' height='44' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.6 1.3c.7.7 1 1.5 1 2.4 0 .9-.3 1.8-1 2.4L8.8 22l15.8 15.8a3.4 3.4 0 010 4.8 3.4 3.4 0 01-4.8 0L1.5 24.4a3.4 3.4 0 010-4.8L19.8 1.3a3.4 3.4 0 014.8 0z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E")
		center center no-repeat;
	background-color: rgba(255, 255, 255, 0);
	background-size: 20% !important;
	display: inline-block;
	position: absolute;
	top: 0;
	width: 50px;
	height: 50px;
}
.arrow:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.arrow.left {
	left: 0;
}
.arrow.right {
	right: 0;
	transform: scaleX(-1);
}

.calendar_nav h3 {
	@apply font-bold text-lg m-0 p-0 text-white;
}

.calendar_container.active .calendar_nav {
	@apply bg-black rounded-lg text-white;
}
